.green123 {
  background-color:#79af30;
}
.purple123  {
  background-color:#4b0055;
}
.panel-horizontal {

    border-radius: 3px;
}
.panel-horizontal > .panel-body {
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #bb5c37;

}
.padding {
  padding-top: 2em;
}
.tilt:hover {
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.tilt2:hover {
  -webkit-transform: rotate(15deg);
     -moz-transform: rotate(15deg);
       -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
.font {
  color: #8e6345;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  font-family: myFirstFont;
}
.header {
  color: black;
  font-size: 2.9em;
  text-align: center;
  font-family: myFirstFont;
}
.style {
  background-color: #128A84;
}
}
#wrap {
    padding-bottom: 3em;
}
@font-face {
    font-family: myFirstFont;
    src: url(scoobydoo.ttf);
}
.button {
  background-color: #4b0055;
  align-content: center;
  margin-top: 10px;
}
.btn-primary {
  background-color: #bb5c37 !important;
}
.trivia {
  font-family: myFirstFont;
  font-size: 1.7em;
  color: white;
}
body {
  padding-bottom: 50px;
}
